
<header class="container-fluid bg-warning p-3 bg-#edd182">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-uppercase">
                    DOLCE & BANANA
                </h1> 
            </div>
            <div class="col">
                {{> navbar}}
            </div>
        </div>
    </div>
</header>