

<div class="row">

 <h2 class="text-uppercase" style="text-align: center;">Combos</h2>
          <div class="col">
            <div>
              <img src="/Image/Combos/combo 1.png" class="img-thumbnail p-2" alt="">
            </div>
            <div >
              <h5 style="text-align: center;">Combo 1</h5>
            </div>           
          </div>


          <div class="col">
            <div>
              <img src="/Image/Combos/combo 2.png" class="img-thumbnail p-2" alt="">
            </div>
            <div>
                <h5 style="text-align: center;">Combo 2</h5>
            </div>
          </div>

          <div class="col">
            <div>
              <img src="/Image/Combos/combo 3.png" class="img-thumbnail p-2" alt="">
            </div>
            <div>
              <h5 style="text-align: center;">Combo 3</h5>
            </div>  
          </div>

</div>

