
    <div class="row">
  
<h2 class="text-uppercase" style="text-align: center;">Lista de Productos</h2>
        <div class="row">
              
          <div class="col">
            <div>
              <img src="/Image/Nuestra cocina/brownies.png" class="img-thumbnail p-2" alt="brownies">
            </div>
            <div>
              <h5 style="text-align: center;">Brownies</h5>
            </div>           
          </div>

          <div class="col">
            <div>
              <img src="/Image/Nuestra cocina/galletitas limon.png" class="img-thumbnail p-2" alt="galletitas limon">
            </div>
            <div>
                <h5 style="text-align: center;">Galletitas de Limon</h5>
            </div>
          </div>

          <div class="col">
            <div>
              <img src="/Image/Nuestra cocina/pavlova.png" class="img-thumbnail p-2" alt="pavlova">
            </div>
            <div>
              <h5 style="text-align: center;">Pavlova</h5>
            </div>  
          </div>

          <div class="col">
              <img src="/Image/Nuestra cocina/pan dulce.png" class="img-thumbnail p-2" alt="pan dulce">
              <div class="card-body">
                <h5 style="text-align: center;">Pan Dulce</h5>
              </div>
          </div>
        </div> 

        <div class="row">
              
          <div class="col">
            <div>
              <img src="/Image/Combos/combo 4.jpeg" class="img-thumbnail p-2" alt="">
            </div>
            <div >
              <h5 style="text-align: center;"></h5>
            </div>           
          </div>

          <div class="col">
            <div>
              <img src="/Image/Combos/combo 5.jpeg" class="img-thumbnail p-2" alt="">
            </div>
            <div>
                <h5 style="text-align: center;"></h5>
            </div>
          </div>

          <div class="col">
            <div>
              <img src="/Image/Combos/combo 6.jpeg" class="img-thumbnail p-2" alt="">
            </div>
            <div>
              <h5 style="text-align: center;"></h5>
            </div>  
          </div>

          <div class="col">
              <img src="/Image/Combos/combo 7.jpeg" class="img-thumbnail p-2" alt="">
              <div class="card-body">
                <h5 style="text-align: center;"></h5>
              </div>
          </div>
        </div> 
</div>

