<h3 style="text-align: center; font-size:35px;">Comentarios</h3>
    
<div class="table-responsive m-4">
    <table class="table table-sprink">
        <thead>
            <tr>
                <th>Cuenta</th>
                <th>Comentario</th>
            </tr>
        </thead>
        
        <tr>
            <th>{{nombre}}</th>
            <th>{{detalle}}</th>
        </tr>
       
        
    </table>
</div>


