<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-uppercase">
                    Nuestra Historia
                </h1>
            </div>
        </div>


        <div class="row">

            <div class="col">
                <p style="text-align: justify;">Estudié comunicación social y, luego de recibirme, me anoté para estudiar Pastelería en el Instituto Lycée. Aún sin haberme recibido, me metí en la cocina a practicar todo lo aprendido y así me convertí en la encargada del armado de la mesa de dulces de todas las reuniones familiares y cumpleaños de amigos en dónde, después del primer bocado, nunca faltaba la pregunta “¿Te dedicás a esto?”. Casi sin darme cuenta llegó mi primer pedido y me propuse formalizar esto que disfruto tanto.</p>
                <p style="text-align: justify;">Dolce & Banana nació en el 2019 con la idea de ofrecer cosas dulces que rompan el molde. Pastelería casera, hecha con ingredientes de calidad y mucho amor. Un desborde de sabor que te va a hacer bailar con cada bocado.</p>
                <p style="text-align: justify;">Como dijo Anthony Bourdain “Tu cuerpo no es un templo, es un parque de diversiones. Disfruta el paseo”</p>
            </div>
                
            <div class="col">
               <img src="/Image/Maco.JPG" class="d-block w-50" alt="..." style="align-self: end;">
            </div>

        </div>
        
</div>